import("methods")
importFrom("utils", "package.skeleton", "tail")

export(
    "cfunction",
    "cxxfunction",
    "getPlugin",
    "readDynLib",
    "registerPlugin",
    "rcpp",
    "writeDynLib"
)

exportMethods(
    "setCMethod",
    "getDynLib",
    "package.skeleton",
    "print",
    "code"
)

